/*
index.html styling
*/
.loginPage {
    text-align: center;
    display: flex;
    justify-content: center;
}

form {
    border: 1px solid;
    background-color: #aaa;
    width: 50%;
    height: 200px;
}

h2 {
    padding-bottom: 20px;
    text-align: center;
}
/*
label[for="email"], label[for="password"] {
    justify-content: left;
}
*/
#email, #password {
    border: 1px solid rgb(70, 88, 255);
    display: inline-block;
    width: 300px
}

label, input {
    margin: 5px;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type=submit] {
    background-color: rgba(46, 80, 255);
    width: 200px;
    height: 30px;
    border: none;
    color: white;
    font-weight: bold;
}

/*

ADD MEDIA QUERIES FOR SHORTEN WEBPAGE

    -  changes ALL inputs AND buttons sizes
    -  changes the grey box surrounding the page size to contain all the elements in mobile form
        - Width percentage should be > 50% at a certain screen width (try 75%)
    -  changes font size of the button  


*/


/*------------------------------------------------------------------*/
