/*
Global styling
*/

header {
  margin: 0;
  padding: 15px;
  text-align: center;
}
header img{
  padding: 0;
}

body {
  height: 100%;
}
#loginHome{
  padding: 100px;
  background-image: url("../img/forest.jpg");
  background-size: cover;
  background-position: center;
  margin: 10px;
}
footer{
  max-width: 100%;
  background-color: black;
  background-image: url("../img/background-footer img 2.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
#address,
#contactInfo {
  display: flex;
  float: left;
  position: relative;
  left: -50%;
  margin: 10px 30px 10px 30px;
}
footer p{
  color: black;
}
footer.footer.mt-4{
  padding: 24px;
}


img {
  padding: 10px;
}

/* ------------------------------------------------------------------ */

/*
index.html styling
*/

form {
  border: 1px solid;
  justify-content: center;
}

.is-flex {
  justify-content: center;
  margin: auto;
}

.flexbox-container {
  text-align: center;
  display: flex;
}

#submitBtn {
  padding-top: 10px;
}

#grid-container {
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
}

/* ------------------------------------------------------------------ */

/*
studentEnroll.html
*/

#sideBar {
  border-color: black;
}

#or p {
  display: flex;
  flex-direction: row;
}

#or p::before,
#or p::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid;
  margin: auto;
}

#or p::before {
  margin-right: 10px;
}

#or p::after {
  margin-left: 10px;
}

/*
media queries
*/
@media screen and (min-width: 576px) and (max-width: 768px){
  #loginHome {
    padding: 175px;
    flex-direction: column;
    margin-bottom: 0;
  }
  footer.footer.mt-4{
    margin-bottom: 0;
    margin-top: 0;
  }

}
@media screen and (max-width: 575px){
  body{
    height: 100%;
  }
  #loginHome {
    padding: 50px 25px;
  }
  #nonLoginBtns{
    display: flex;
    flex-wrap: wrap;
  }
  #btn1, #btn2{
    margin-top: 5px;
  }
}
