form {
    border: 1px solid;
    background-color: #aaa;
    width: 50%;
    height: 200px;
}

#email, #password {
    border: 1px solid rgb(70, 88, 255);
    display: inline-block;
}

input {
    padding-top: 2px;
    padding-bottom: 2px;
}

.loginPage {
    text-align: center;
}

input[type=submit] {
    width: 200px;
}